<!--AQUI TA CARREGANDO OS ARQUIVOS ESTÁTICOS, RECEBENDO OS DADOS-->
{% extends 'shared/base.html' %}
{% load static %}
{% block content %}

            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
                    <h1 class="banner__titulo"> Adicione um produto do site ao Banco de Dados</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Busque por tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag"><a href="" class="btn" style="color: #e91010;">ADD PRODUTO</a></li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Banco de Dados</h2>
                
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}